<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">
               <h4>Pages</h4>
                <ul>
                    <li><a href="{% url 'checkout' %}">see your book</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="{% url 'book' %}">book</a></li>
                    <li><a href="{% url 'register' %}">My Account</a></li>
                </ul>
                <br>
                <h4>User Section</h4>
                <ul>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                </ul>
                <br>
            </div>

            <div class="com-sm-6 col-md-3">
                <h4>room categories</h4>
                <ul>
                    <li><a href="#">single room</a></li>
                    <li><a href="#">double standard room</a></li>
                    <li><a href="#">VIP room</a></li>
                    <li><a href="#">king room</a></li>
                    
                </ul>
                <br>
            </div>
            <div class="col-sm-6 col-md-3">
                <h4>Find Us</h4>
                <p>
                    <strong>kaleab@gmail.com</strong>
                    <br/>0223456767
                    <br/>book13@gmail.com
                    <br/><strong>Astu</strong>
                </p>
                <a href="">Check Our Contact Page</a>
                <hr class="hidden-md hidden-lg">
            </div>
            <div class="col-sm-6 col-md-3">
                <h4>Get The News</h4>
                <p class="text-muted">
                    Dont miss us,enjoy our rooms
                </p>
                <form action="" method="post">
                    <div class="input-group">
                        <input type="text" class="form-control" name="email">
                        <span class="input-group-btn">
                            <input type="submit" value="subscribe" class="btn btn-default">                            
                        </span>
                    </div>
                </form>
                
                <br>
                <h4>Keep In Touch</h4>
                <p class="social">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-google-plus"></a>
                    <a href="#" class="fa fa-envelope"></a>
                </p>
            </div>
        </div>
    </div>
</div><!-- #footer Finish -->


<div id="copyright">
    <div class="container">
        <div class="col-md-6">
            <p class="pull-left">&copy; 2022 KF booking All Rights Reserve</p>
        </div>
        <div class="col-md-6">
        </div>
    </div>
</div>