$color-primary: #55c57a;

$color-primary-light: #868686bd;
$color-primary-dark: rgba(140, 141, 140, 0.699);
// $color-primary-light:  #040720bd;
// $color-primary-dark: rgba(25, 39, 25, 0.699);
$color-grey-dark: rgb(27, 27, 27);
$color-white: #fff;
$color-black: #000;

$primaryColor: #af9a7d;
$mainWhite: #fff;
$offWhite: #f7f7f7;
$mainBlack: #222;
$mainGrey: #ececec;
$darkGrey: #cfcfcf;
$mainTransition: all 0.3s linear;
$mainSpacing: 3px;
$lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
$darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
