{% load static %}
{% include 'hotel/customer/includes/header.html' %}


        {% block content %}


        {% endblock content %}
        

        {% include 'hotel/customer/includes/footer.html' %}

	
	
    <script type="text/javascript" src="{% static 'js/book.js' %}"></script>
    <script src="{% static 'js/jquery-331.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-337.min.js' %}"></script>
     
     
    </body>
    </html>
{% comment %} woooooooooooooooooooo {% endcomment %}