<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style/bootstrap.min.css' %}" />
     <link rel="stylesheet" href="{% static 'style/style_index.css' %}" /> 
    <link rel="stylesheet" href="{% static 'style/style.css' %}">

    <title>hotel reservation</title>
  </head>

  <body>
    
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">
              <img src="{% static 'img/logo.ico' %}" alt="KF Hotel booking Logo" class="hidden-xs">                  
          
          </a>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
             Hotels
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'home' %}">Gozamen</a></li>
            <li><a class="dropdown-item" href="#">Gozamen</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Gozamen</a></li>
            <li><a class="dropdown-item" href="#">Gozamen</a></li>
            <li><a class="dropdown-item" href="#">Gozamen</a></li>
            <li><hr class="dropdown-divider" /></li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">others</a>
        </li>
        
        <li class="nav-item">
          <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </li>

        <li class="nav-item">
          <button type="button" className="nav-btn" onClick="">
            <FaAlignRight className="nav-icon">
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>



<header class="home">
  <div class="home__text-box">
    <h1 class="heading-primary">
      <span class="heading-primary--main">hotels</span>
      <span class="heading-primary--sub">are your home</span>
    </h1>
    <a href="#" class="button button--white button--animated">Discover our hotels</a>
  </div>
</header>






     {% include 'hotel/customer/includes/footer.html' %}
    
     <script src="{% static 'js/jquery-331.min.js' %}"></script>
     <script src="{% static 'js/bootstrap-337.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
